@model Blog.Models.Post

@{
    ViewBag.Title = "Add a new post";
}

<h2>Add a new post</h2>

@using (Html.BeginForm())
{
    if (ViewBag.isValid != null) {
        @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
    }

    @Html.LabelFor(model => model.Title, new { htmlAttributes = new { @class = "form-label" } })
    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Title)

    @Html.LabelFor(model => model.Contents, new { htmlAttributes = new { @class = "form-label" } })
    @Html.EditorFor(model => model.Contents, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Contents)

    <button class="btn btn-primary">Submit</button>
}
